<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="viewController" class="plutoportlet.ViewController">
		<property name="viewName" value="view" />
	</bean>

	<bean id="editController"
		class="org.springframework.web.portlet.mvc.ParameterizableViewController">
		<property name="viewName" value="edit" />
	</bean>

	<bean id="helpController"
		class="org.springframework.web.portlet.mvc.ParameterizableViewController">
		<property name="viewName" value="help" />
	</bean>

	<bean id="portletModeHandlerMapping"
		class="org.springframework.web.portlet.handler.PortletModeHandlerMapping">
		<property name="portletModeMap">
			<map>
				<entry key="view">
					<ref bean="viewController" />
				</entry>
				<entry key="edit">
					<ref bean="editController" />
				</entry>
				<entry key="help">
					<ref bean="helpController" />
				</entry>
			</map>
		</property>
	</bean>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.InternalResourceView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
</beans>